<main>
     <link rel="stylesheet" href="/css/login.css">
</main>
<body>
    <section id="pres" class="pres">
        <form class="formulario" action="/login" method="POST">
            <h1>Inicia Sesión</h1>
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input  type="text" required="" id="correo" name="correo" placeholder="Correo Electronico">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" required="" id="password" name="password" placeholder="Contraseña">
                </div>
                <input type="submit" id="entrar" value="Iniciar sesión" class="button" src="/home">
                <p>¿No tienes una cuenta?<a class="link" href="/usuario/registro"><p>Registrate</a></p>
            </div>
        </form>
    </section>
</body>