<body>
    <div class="row justify-content-md-center">
    <div class="card" style="width: 800px;" >
        <div class="card-header" style="color: cadetblue;">Perfil del Vendedor</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Datos</h5>
          <div class="col-md-6">
            <label  for="inputEmail4">Nombre: </label>
            <input type="text" class="form-control" style="width : 500px;">
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Articulos</h5>
          </div>
          <div class="col-md-6">
            <label  for="inputEmail4">Descripción: </label>
            <input type="text" class="form-control" style="width : 500px;">
          </div>
          <b>Imagen</b>
         <br>
          <textarea name="comentarios" rows="10" cols="68"></textarea>
        <br>
        </div>
        <div style="text-align: center;">
        <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 500px;">
          <button type="button" class="btn-outline-success" style="width: 500px;">Mensaje</button>
          <button type="button" class="btn btn-outline-primary" style="width: 500px;">Regresar</button>
        </div> 
        </div> 
    </div> 

</body>