<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <h3>Bienvenido {{user.NomUsuario}}</h3>
                <h4>{{user.correo}}</h4>
                <a href="/productos/publicarProd" class="btn btn-primary m-4">¡Publica tus productos!</a>
            </div>
        </div>
    </div>
</div>