*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Diseño del fondo*/
.pres {
    display: table;
    position: relative;
    background-image: url(../img/cero.jpg);
    background-size: contain;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 54vh;
}

/*Diseño del formulario*/
.contenedor{
    width: 100%;
    padding: 15px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input[type="email"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;  
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}


p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 105px;
        border-radius: 2%;
    }
}

.ocultar{
    display: none;
}

.mostrar {
    display: block;
}

  .formulario{
    background: #fff;
    margin-top: -50px;
    padding: 3px;
    z-index: 1;
    position: relative;
}

  .pres {
    display: table;
    position: relative;
    background-image: url(../img/cero.jpg);
    background-size: contain;
    padding: 100px;
    width: 100%;
    height: 55vh;
  }
  
  .pres:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .pres-brand {
    margin-bottom: 75px;
    display: inline-block;
  }
  
  .pres-brand:hover {
    opacity: .75;
  }

  .tex{
      font-family: sans-serif;
      color: #199EB8;
      font-size: 20px;
  }

  p{
    color: #1a2537;
  }