<div class="container">
      <div class="row justify-content-md-center">
    <div class="card" style="width: 30rem;">
      <br>
      <b>Imagen</b>
      <br>
      <textarea name="comentarios" rows="10" cols="20"></textarea>
      <br>
      <div class="card-body">
        
        <div class="col-md-6">
          <label  for="inputEmail4">Descripción del Producto: </label>
          <input type="text" class="form-control" style="width : 420px;">
        </div>
        <div class="col-md-6">
          <label  for="inputEmail4">Comentarios del Producto: </label>
          <input type="text" class="form-control" style="width : 420px;">
        </div>
        <a href="/usuario/perfilVende" class="card-link">Perfil del Vendedor</a>
      </div>
      <div class="d-grid gap-2">
        <input class="btn btn-outline-info" type="button" value="Regresar" name="B4" OnClick="location.href='PublicarProductos.html'">
        </div>
        <br>
    </div>
      </div>
    </div>  
    <br>
    <div class="container">
      <div class="row justify-content-lg-center">
    <div class="card" style="width: 30rem;">
      <br>
      <b>Imagen</b>
      <br>
      <textarea name="comentarios" rows="10" cols="20"></textarea>
      <br>
      <div class="card-body">
        
        <div class="col-md-6">
          <label  for="inputEmail4">Descripción del Producto: </label>
          <input type="text" class="form-control" style="width : 420px;">
        </div>
        <div class="col-md-6">
          <label  for="inputEmail4">Comentarios del Producto: </label>
          <input type="text" class="form-control" style="width : 420px;">
        </div>
        <a href="/usuario/perfilVende" class="card-link">Perfil del Vendedor</a>
      </div>
      <div class="d-grid gap-2">
        <input class="btn btn-outline-info" type="button" value="Regresar" name="B4" OnClick="location.href='PublicarProductos.html'">
        </div>
        <br>
    </div>
      </div>
    </div>  