 
   <div class="container" method="POST">
      <div class="row justify-content-md-center">
    <div class="card border-primary " style="max-width: 800px;" method="POST">
      <br><br>
        <div class="row g-0">
           <div class="col-md-4">
            <b>Imagen</b>
            <br>
            <textarea name="comentarios" rows="13" cols="20"></textarea>
            <br>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-success" style="width: 160px;">Agregar</button>
              <button type="button" class="btn btn-outline-success" style="width: 160px;">Guardar</button>
              </div>
          </div>
          <div class="col-md-8" method="POST">
            <div class="card-body">
              <h5 class="card-title">Articulos</h5>
              <div class="col-md-6">  
                <label for="inputEmail4">Cantidad Stock </label>
                <input name="CantidadStock" type="number" class="form-control" style="width: 485px;">
              </div>
              <div class="col-md-6"> 
                <label  for="inputEmail4">Descripción</label> 
                <input name="DescripProducto" type="text" class="form-control" style="width : 485px;">
              </div>
              <div class="col-md-6"> 
                <label  for="inputEmail4">Precio del Articulo</label> 
                <input name="PrecioProducto" type="number" class="form-control" style="width : 485px;">
              </div>
              <br>
              <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-success">Guardar</button>
              </div>
              <br>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-danger">Cancelar</button>
                </div>
              <br>
              <div class="d-grid gap-2">
                <input class="btn btn-outline-info" type="button" value="Regresar" name="B4" OnClick="location.href='PerfilVendedor.html'">
                </div>
            </div>
            </div>
          </div>    
        </div>
      </div>
      </div>
    </div>
    
  </body>     